<h1>Welcome to 40K arena</h1>

<%= link_to "Login with Github", "https://github.com/login/oauth/authorize?client_id=Ov23liExNf55VmNHjDtI&scope=repo" %>

<%= link_to 'Create New Account', new_user_path %>